@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,form,input,textarea, p,th,tr,td,a,strong,button{margin: 0;padding: 0;}
body{font-family:微软雅黑;font-size:14px;margin: 0;padding: 0;color:#5e5e5e;background-color:#f6fafb;}
.footer_l1 a:hover{color:#f14648;}
ul{list-style: outside none none;}
a{text-decoration:none;}
a{color:#5e5e5e;}/*20150203新增ZH*/
img{border:medium none;margin:0;padding:0;}
.yellow {color: #ffa811;}
.f16{font-size:16px;}/*1.22增加*/
.f18{font-size:18px;}
h2{font-size:16px;}/*1.17修改*/
.fn13{font-size:13px;}/*20150210增加*/
.f14{font-size:14px;}/*20150210增加*/
.fn14,.fn15,.fn16{font-size:13px;color:#5e5e5e}
input[type="password"]:focus {border-color: #b5b5b5;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(170,170,170, 0.2);outline: 0 none;}
input[type="text"]:focus {border-color: #b5b5b5;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(170,170,170, 0.2);outline: 0 none;}
input:hover {border-color: #b5b5b5;}
i {font-style: normal;}
.fl{float: left;}
.fr{float:right;}
/*1.13增加*/
.borer_1px{border:1px solid #e5e5e5;}
/*header*/
#header{height:36px;line-height: 36px;background-color:#eff3f4;border-bottom:1px solid #e5e5e5; position:relative; z-index:999;}
.header_contain{width:1000px;margin:0 auto;}
.sub_nav li{float:left;margin-right:10px;position:relative;}
.header_t_r,.header_top .header_t_r .hot-line{float:right;margin-right: -4px;}
.header_t_r .header_t_r_l{float:left;}/*2015.02.03修改*/
.header_t_r .header_t_r_l .yellow{background:url(../images/help_small.png) no-repeat 0px 2px;padding-left:20px;cursor:pointer;}/*20150203增加*//*20150302修改*/
.header_t_r .header_t_r_c a:hover,.header_t_r .header_t_r_l a:hover{color:#ffa811;text-decoration:underline;}/*20150112修改*/
.header_t_r .header_t_r_c .yellow{background:url(../images/index_img.png) no-repeat -519px -88px;padding-left:21px;cursor:pointer;}/*20150203增加*//*20150302修改*/
.header_t_r .header_t_r_r,.header_t_r .header_t_r_c{float:left;margin-right:15px;}/*20150303新增*/
.header_t_r .header_t_r_r {border-right: 1px solid #5e5e5e;padding-right: 15px;margin-top: 8px;line-height: 20px;}
.header_t_r .header_t_r_r a:hover{color:#f14648;text-decoration:underline;}/*20150303新增*/
/* .header_top .header_t_r span{color:#f14648;} *//*2015.02.03删除*/
/*.header_top .hot-line span{font-family:Arial;}*//*2016.01.06删除*/

.sub_nav .i_licairexian{border-right: 1px solid #5e5e5e;padding-right: 10px;margin-left:5px;background:url(../images/licairexian_bg.png) no-repeat 0 0;padding-left: 20px;}
.sub_nav .i_licairexian:hover{background:url(../images/licairexian_hover_bg.png) no-repeat 0 0;}
/*205-7-31 QQ修改*/
.sub_nav .QQ span{cursor:pointer;width:14px;height:14px;background:url("../images/base_bg.png") no-repeat 0 2px;padding-left:20px;}
.sub_nav .QQ span:hover{background:url("../images/base_bgse.png") no-repeat 0 2px;color:#f14648;}
.sub_nav .weixin span{cursor:pointer;width:14px;height:14px;background:url("../images/base_bg.png") no-repeat -1px -22px;padding-left:22px;}
.sub_nav .weixin span:hover{background:url("../images/base_bgse.png") no-repeat -1px -22px;color:#f14648;}
.two_sun .boxdiv .kefu li {line-height: 23px;float: none;height: 23px;}
.two_sun .boxdiv .kefu li img {vertical-align: middle;}
.two_sun .boxdiv .kefu h4{ font-size:14px;}/*2015-8-20 修改*/
.two_sun1 .boxdiv2 .kefu li {line-height: 23px;float: none;height: 23px;}
.two_sun1 .boxdiv2 .kefu li img {vertical-align: middle;margin-left: 10px;}
.two_sun1 .boxdiv2 .kefu h4{ font-size:14px;}/*2015-8-20 修改*/
.two_sun_foot .boxdiv .kefu h4{font-size:14px; }/*2015-8-20 修改*/
.two_sun_foot .boxdiv .kefu li {line-height: 23px;float: none;height: 23px; width:120px; text-align:left;}
.two_sun_foot .boxdiv .kefu li img {vertical-align: middle;}
.two_sun_foot1 .boxdiv3 .kefu li {line-height: 23px;float: none;height: 23px;text-align:left;}
/*2015-7-24  新增手机客户端*/
.sub_nav .phone span{cursor: pointer;width: 14px;height: 14px;padding-left: 22px;background-image: url(../images/phone.png);background-repeat: no-repeat;background-position: 8px 3px;}
.sub_nav .phone span:hover{color: #f14648;background-image: url(../images/phone_hover.png);background-repeat: no-repeat;background-position: 8px 3px;}
/*nav*/
/* .nav li a{font-size:18px;color:#ffffff;display:block;height:44px;line-height:44px;width:120px;text-align:ce nter;}
.nav li a:hover{background-color:#f02e2b;}
.nav .selected{background-color:#f02e2b;}20150112新增
.top_nav{height:44px;line-height:44px;background-color:#f1484f;}
.top_nav img{position:absolute;right:0;top:-9px;}
.logo_nav_contain .logo_nav,.top_nav .nav{width:1000px;margin:0 auto;overflow:hidden;}
.nav ul li{float:left;}
.nav span{float:right;line-height:44px;}
.nav span a{font-size:18px;color:#ffffff;font-weight:bold;}
.nav ul .nav_index_bg{width:80px;}
.top_logo .fl img{width:168px;height:51px;}20150205修改
.top_logo .fl{border-right:2px solid #000000;padding-right:18px;}20150205增加
.top_logo .fr{font-size:20px;color:#000000;line-height:52px;padding-left:13px;}20150205增加
.top_logo{margin-left:2px;height:51px;float:left;overflow:hidden;margin:14px 0 13px 0;}20150205修改
.logo_nav_contain{background-color:#ffffff;}
 */

/*nav*/
.nav .navinvest{position: relative;}
.nav .navinvest .nava{font-size:18px;display:block;height:52px;line-height:76px;width:76px;text-align:center;margin: 8px 16px;}
.nav .navli .nava{font-size:18px;display:block;height:52px;line-height:76px;width:76px;text-align:center;margin: 8px 16px;}
.nav .navli .nava:hover{border-bottom:3px solid #f14648;}
.nav .selected{border-bottom:3px solid #f14648;}/*20150112新增*/
.top_nav{height:44px;line-height:44px;background-color:#f1484f;}
.top_nav img{position:absolute;right:0;top:-9px;}
.logo_nav_contain .logo_nav,.top_nav .nav{width:1000px;margin:0 auto;height: 94px;}
.nav ul li{float:left;}
.nav span{float:right;line-height:44px;}
.nav span a{font-size:18px;color:#ffffff;font-weight:bold;}
.nav ul .nav_index_bg{width:80px;}
.top_logo .fl img{width:168px;height:51px;}/*20150205修改*/
/*.top_logo .fl{padding-right:18px;}20150205增加*/
.top_logo .fr{font-size:20px;color:#000000;line-height:52px;padding-left:13px;}/*20150205增加*/
.top_logo{margin-left:2px;height:51px;float:left;overflow:hidden;margin:20px 0 20px}/*20150205修改*/
.logo_nav_contain{background-color:#ffffff;height:93px; position:relative;z-index:10;}

/*20150302增加首页qq微信提示 顶部*/
.two_sun {background: url("/site/themes/default/images/top_shang.jpg") no-repeat center top;display: none;left: -28px;overflow: hidden;padding-top: 6px;position: absolute;top: 31px;z-index:9999;width:130px;}
.two_sun1 {background: url("/site/themes/default/images/top_shang.jpg") no-repeat center top;display: none;left: -76px;overflow: hidden;padding-top: 6px;position: absolute;top: 31px;z-index:9999;width:200px;}
.two_sun_foot {background: url("/site/themes/default/images/top_shang.jpg") no-repeat center top;display: none;left: 2px;overflow: hidden;padding-top: 6px;position: absolute;top: 62px;z-index:9999;width:130px;}
.two_sun_foot1 {background: url("/site/themes/default/images/top_shang.jpg") no-repeat center top;display: none;left: -70px;overflow: hidden;padding-top: 6px;position: absolute;top: 62px;z-index:9999;width:228px;}
.boxdiv {background-color: #fff;border: 1px solid #e4e4e4;display: block;margin: 0;overflow: hidden; padding:5px;width: 115px;border-top:none;line-height:11px;}
.boxdiv2 {background-color: #fff;border: 1px solid #e4e4e4;display: block;margin: 0;overflow: hidden; padding:5px;width: 188px;border-top:none;line-height:11px;}
.boxdiv3 {background-color: #fff;border: 1px solid #e4e4e4;display: block;margin: 0;overflow: hidden; padding:5px;width: 220px;border-top:none;line-height:11px;}
.two_sun_invest{POSITION: absolute; WIDTH: 95px; DISPLAY: none; BACKGROUND: url(../images/three_sun.jpg) no-repeat center top; OVERFLOW: hidden; TOP: 60px; PADDING-TOP: 10px; LEFT: 5px;}
.boxdiv1 {BACKGROUND-COLOR: #fff; BORDER-TOP: #f14648 3px solid; display:block; z-index:11;OVERFLOW: hidden;}
.boxdiv1 ul li{ float: none;height: 35px;line-height: 35px;margin-top: 0;text-align: center;width: 90px;}
.investa{font-size:16px;background-color: #fff;display:block;height:36px;line-height:36px;width:95px;}
.investa:hover{color: #f14648;background-color: #e5e5e5;}

/*footer*/
/* .footer{background-color:#f9f9f9;border-top:1px solid #e5e5e5;margin-top:20px;}20150113修改
.footer .help{width:950px;margin:0 auto;overflow:hidden;text-align:center;}
.footer .help dl{float: left;padding-right:83px;margin-top:22px;text}
.footer .help dl dt{font-size:16px;color:#5e5e5e;padding-bottom:8px;}
.footer .help dd a{font-size:14px;color:#5e5e5e;padding-left:12px;line-height:31px;}
.same span{font-size:14px;padding-left:20px;}
.wx{float:left;}
.wx dt,.wx dd{text-align:right;}
.footer .same .tel{margin:19px 0 15px 0;font-size:32px;font-weight:bold;}
.footer .same .adds{line-height:33px;} 
.footer .wx .wenxin{color:#f14648;font-size:12px;}
.footer .wx .font{font-size:14px;padding-right:19px;}
.footer .wx .wx1 img{width:102px;height:102px;}
.footer .wx .wx1{padding-right:10px;padding-bottom:0;}
copyRight
.copyRight{height:130px;background-color:#f1484f;}
.copyRight .content{width:1000px;margin:0 auto;text-align:center;padding-top:20px;}
.copyRight .content p{font-size:14px;color:#ffffff;line-height:26px;}
.copyRight .foot-pic{padding-top: 12px;}
.copyRight .foot-pic img{margin: 0 3px;} */


/*页脚*/
.footer{background-color:#eaeaea;margin-top:21px;padding:20px 0 42px 0;}/*20150130修改*/
.footer .content{width:1000px;margin:0 auto;text-align:center;padding-top:20px;}/*20150130修改*/
.footer .content p{font-size:14px;line-height:26px;}
.footer .foot-pic{width:990px;margin:0 auto;overflow:hidden;margin-top:8px;}/*2015-12-30 修改*/
.footer_l1 li:hover{color:#f14648;cursor:pointer;}/*20150205增加*/
.footer_l1 li,.footer_l li{float:left;margin-right:32px;}
.footer_l1{height:27px;border-bottom:1px solid #5e5e5e;}
.footer_l2{height:106px;line-height:106px;border-bottom:1px solid #5e5e5e;margin-bottom:19px;}
.footer_lef .index_icon{margin-right:5px;background:url(../images/index(images).png) no-repeat;}
.footer_l1 .weibo{background-position:-1px -1px;}
.footer_l2 .footer_r{text-align:right;line-height:28px;margin:15px 0;}
/*.footer_l2 .footer_r{text-align:right;line-height:28px;  margin:11px 0px 15px 185px;}201507024新增*/
.footer_l2 .footer_r .lcrx{font-size:26px;font-weight:bold;font-falmily:Arial;}
.footer_l2 .footer_lef li{float:left;margin-right:32px;position:relative;}
.footer_l2 a:hover{color:#f14648;text-decoration:underline;}/*20150303新增*/
.xinlang_weibo i{margin:35px 3px 0 0;display:block;height:30px;width:38px;float:left;background:url(../images/index_img.png) no-repeat 0px -2px;}
.xinlang_weibo i:hover{cursor:pointer;margin:35px 3px 0 0;display:block;height:30px;width:38px;float:left;background:url(../images/index_img.png) no-repeat 0px -38px;}
.qq i{margin:35px 0 0 0;display:block;height:30px;width:38px;float:left;background:url(../images/index_img.png) no-repeat -39px -2px;}
.qq i:hover{background:url(../images/index_img.png) no-repeat -39px -35px;}/*20150204修改*/
.footer_l2 .weixin i{display:block;height:30px;width:38px;float:left;margin:35px 3px 0 0;background:url(../images/index_img.png) no-repeat -75px -1px;}/*201502014修改*/
.weixin i:hover{background:url(../images/index_img.png) no-repeat -75px -35px;}
.line-kefu i{margin:35px 3px 0 0;display:block;height:30px;width:30px;float:left;background:url(../images/index_img.png) no-repeat -121px -2px;}
.line-kefu i:hover{background:url(../images/index_img.png) no-repeat -121px -36px;}/*20150204修改*/
.footer_lef i{cursor:pointer;}
.foot-pic a{margin-right:10px;float:left;}
.foot-pic .img_01{display:block;width:90px;height:38px;background:url(../images/index_img.png) no-repeat -1px -67px;}
.foot-pic .img_01:hover{background:url(../images/index_img.png) no-repeat -1px -106px;}
.foot-pic .img_02{display:block;width:85px;height:38px;background:url(../images/index_img.png) no-repeat -92px -67px;}
.foot-pic .img_02:hover{background:url(../images/index_img.png) no-repeat -92px -106px;}
.foot-pic .img_03{display:block;width:95px;height:36px;background:url(../images/index_img.png) no-repeat -177px -67px;}
.foot-pic .img_03:hover{background:url(../images/index_img.png) no-repeat -177px -106px;}
.foot-pic .img_04{display:block;width:100px;height:36px;background:url(../images/index_img.png) no-repeat -274px -67px;}/*20150204修改*/
.foot-pic .img_04:hover{background:url(../images/index_img.png) no-repeat -274px -106px;}
.foot-pic .img_041{display:block;width:100px;height:36px;background:url(../images/index_img.png) no-repeat -206px -204px;}/*20150204修改*/
.foot-pic .img_041:hover{background:url(../images/index_img.png) no-repeat -102px -204px;}
.foot-pic .img_05{display:block;width:57px;height:38px;background:url(../images/index_img.png) no-repeat -379px -69px;}/*20150204修改ZH*/
.foot-pic .img_05:hover{background:url(../images/index_img.png) no-repeat -379px -108px;}/*20150204修改ZH*/
.foot-pic .img_06{display:block;height:36px;width:77px;background:url(../images/index_img.png) no-repeat -438px -69px;}/*20150204修改ZH*/
.foot-pic .img_06:hover{background:url(../images/index_img.png) no-repeat -438px -108px;}/*20150204修改ZH*/
/*2015-7-30 增加*/
.foot-pic .img_07{display: block;height: 35px;width: 94px;background: url(../images/index_img.png) no-repeat -408px -205px;}
.foot-pic .img_07:hover{background: url(../images/index_img.png) no-repeat -311px -205px;}
.foot-pic .img_08{display: block;height: 35px;width: 94px;background: url(../images/index_img.png) no-repeat -1px -250px;}
.foot-pic .img_08:hover{background: url(../images/index_img.png) no-repeat -98px -250px;}
/*2015-12-7 增加360*/
.foot-pic .img_09{display: block;height: 36px;width: 99px;background: url(../images/index_img.png) no-repeat -207px -204px;}
.foot-pic .img_09:hover{background: url(../images/index_img.png) no-repeat -103px -204px;}
/*2015-12-30 增加企业评级*/
.foot-pic .img_10{display: block;height: 35px;width: 94px;background: url(../images/index_img.png) no-repeat -197px -250px;}
.foot-pic .img_10:hover{background: url(../images/index_img.png) no-repeat -294px -250px;}

.left_con04 .up .col_b{margin:19px 0 0 27px;}
.left_con04{background-color:none;}
.leftLoop{position:relative;overflow:hidden;padding-bottom:6px;}
.up{background-color:none;}
.leftLoop .prev{left:10px;float:left;left:12px;}
.leftLoop .next,.leftLoop .prev{cursor:pointer;display:inline-block;height:41px;position:absolute;top:18px;width:21px;}/*20150204修改*/
.leftLoop .next{right:12px;float:right;}
.leftLoop .bd_index{margin:20px 0 0 0;overflow:hidden;height:55px;float:left;}
.bd_index .tempWrap{width:652px !important;margin-left:40px;}/*20150201修改*/
.leftLoop .bd_index .box{left:0;margin:0;overflow:hidden;padding:0;position:relative;width:2880px;}
.bd_index .box a{margin-right:50px;}
.bd_index li a img{width:97px;height:38px;border:1px solid #e5e5e5e;}
.bd_index li a{display:block;width:97px;height:38px;}



/*20150201增加*/
.logo_nav .liji_tuichu{margin-top:25px;overflow:hidden;}
.logo_nav .liji_tuichu h3{line-height:33px;}
.logo_nav .liji_tuichu .liji_tuichu_btn{display:block;height:30px;width:78px;text-align:center;line-height:30px;color:#ffffff;background-color:#f14648;margin-left:30px;border-radius:5px;}


/*错误提示*/
.errorMsg {margin-left: 10px;color: #f14648;font-size: 12px;}


/*弹出框 dialog*/

.alert-main {background: none repeat 0 0 #fff !important; background: none repeat 0 0 #fff;display: none;left: 0;position: absolute;top: 0;width: 400px;z-index: -1;}
.alert-head {border-bottom: 1px solid #f14648;cursor: move;height: 40px;line-height: 40px;padding: 0px 10px;position: relative;}
.alert-head h2 {font-family: 微软雅黑;font-weight: bold;}
.alert-head .alert-close {background: none repeat 0 0 #e7ecee;float: right;height: 24px;overflow: hidden;position: absolute;right: 10px;top: 8px;width: 24px;}
.alert-head .alert-close .icons {background-position: -68px -77px;height: 8px;left: 50%;margin: -4px 0 0 -4px;position: absolute;top: 50%;width: 8px;}
.alert-head .alert-close .icons:hover {background-position: -68px -77px;}

.dialog-main {background: none repeat 0 0 #fff !important; background: none repeat 0 0 #fff;display: none;left: 0;position: absolute;top: 0;width: 400px;z-index: -1;}
.dialog-head {border-bottom: 1px solid #f14648;cursor: move;height: 40px;line-height: 40px;padding: 0px 10px;position: relative;}
.dialog-head h2 {font-family: 微软雅黑;font-weight: bold;}
.dialog-head .closeModal {background: none repeat 0 0 #e7ecee;float: right;height: 24px;overflow: hidden;position: absolute;right: 10px;top: 8px;width: 24px;}
.dialog-head .closeModal .icons {background-position: -68px -77px;height: 8px;left: 50%;margin: -4px 0 0 -4px;position: absolute;top: 50%;width: 8px;}
.dialog-head .closeModal .icons:hover {background-position: -68px -77px;}
.dialog-foot {background: none repeat 0 0 #f14648;height: 50px;position: relative;}
.dialog-foot .bank-action {float: left;left: 50%;padding-top: 10px;position: relative;}
.dialog-foot .bank-action a {display: inline;float: left;height: 30px;left: -50%;line-height: 30px;margin-right: 10px;overflow: hidden;padding: 0 15px 0 25px;position: relative;white-space: nowrap;}
.dialog-foot .bank-action .icons {left: 13px;position: absolute;top: 10px;}
.dialog-foot .bank-delete {background: none repeat 0 0 #fff;border-radius:5px;color: #475058;}
.dialog-foot .bank-bind {background: none repeat 0 0 #ff8a11;border-radius:5px;color: #fff;}
.dialog-foot .bank-bind:visited {color: #fff;}


.model-dialog-bg {background: none repeat 0 0 #fff;bottom: 0;height: 100%;left: 0;opacity: 0.75;position: absolute;right: 0;top: 0;z-index: 107;}
.model-dialog {background: none repeat 0 0 padding-box #fff !important; background: none repeat 0 0 #fff;border: 1px solid rgba(0, 0, 0, 0.1);border-radius: 2px;box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);display: none;left: 0;overflow: auto;position: absolute;top: 0;width: 550px;z-index: 109;}
.model-head {border-bottom: 1px solid #f14648;cursor: move;height: 40px;line-height: 40px;padding: 0px 10px;position: relative;}
.model-head h2 {font-family: 微软雅黑;font-weight: bold;}
.model-head .model-close {background: none repeat 0 0 #e7ecee;float: right;height: 24px;line-height: 24px;overflow: hidden;position: absolute;right: 10px;top: 8px;width: 24px;}
.model-head .model-close .icons {background-position: -68px -77px;height: 8px;left: 50%;margin: -4px 0 0 -4px;position: absolute;top: 50%;width: 8px;}
.model-head .model-close .icons:hover {background-position: -68px -77px;}
.model-body {min-height: 60px;padding: 20px;}
.model-foot {background: none repeat 0 0 #f14648;height: 50px;position: relative;}
.model-foot .inner {float: left;left: 50%;padding-top: 10px;position: relative;}
.model-foot .inner a {display: inline;float: left;height: 30px;left: -50%;line-height: 30px;margin-right: 10px;overflow: hidden;padding: 0 15px 0 25px;position: relative;white-space: nowrap;}
.model-foot .inner .icons {left: 13px;position: absolute;top: 10px;}
.model-foot .model-close {background: none repeat 0 0 #fff;border-radius:5px;color: #475058;}
.model-foot .model-yes {background: none repeat 0 0 #ff8a11;border-radius:5px;color: #fff;}
.model-foot .model-yes:visited {color: #fff;}



.icons {background: url("../images/sprites.png") no-repeat 0 0;display: inline-block;font-size: 0;height: 16px;line-height: 0;overflow: hidden;text-indent: -9999px;width: 16px;}
.yclose {background-position: -68px -77px;height: 8px;width: 8px;}
.cm-white {background-position: -105px -114px;height: 8px;width: 10px;}
.icons_info_alert {background-position: -518px -240px;height: 60px;width: 60px;}
.icons_warning_alert {background-position: -454px -240px;height: 60px;width: 60px;}
.icons_error_alert {background-position: -454px -240px;height: 60px;width: 60px;}

/*0112修改*/
.login_zhuce_btn{float:right;margin-top:25px;}
.login_zhuce_btn a{display:block;float:left;text-align:center;}
.login{color:#5e5e5e;border:1px solid #e5e5e5;width:80px;height:33px;line-height:33px;background-color:#ffffff;border-radius:5px 0 0 5px;border-right:none;}
.myaccount{background-color: #ffffff;border: 1px solid #e5e5e5;border-radius: 5px;color: #5e5e5e;height: 33px;line-height: 33px;width: 150px;}/*20150112新增*/
.myaccount:hover{background-color: #f14648;border: 1px solid #f14648;border-radius: 5px;color: #ffffff;height: 33px;line-height: 33px;width: 150px;}/*20150112新增*/
.zhuce{color:#ffffff;background-color:#f14648;width:80px;height:35px;line-height:35px;border-radius:0 5px 5px 0; }


/*20150513 十日投资风云榜*/
.cl{clear:both;}
.fyb_ban {background-image: url(../images/fengyunbang/fyban.jpg);background-position: center center;height: 435px;}
.fyb_line {background-color: #e23840;height: 33px;border-top-width: 1px;border-bottom-width: 1px;border-top-style: dotted;border-bottom-style: dotted;border-top-color: #ee6f75;border-bottom-color: #ee6f75;}
.fyb_bj{background-color: #eb444e;padding-top: 90px;background-image: url(../images/fengyunbang/fybj.png);background-repeat: no-repeat;background-position: center top;padding-bottom: 100px;}
.fyb_mian {width: 1012px;margin-top: 0px;margin-right: auto;margin-bottom: 0px;margin-left: auto;}
.li1 li {float: left;text-align: center;line-height: 35px;font-size: 20px;border-right-width: 1px;border-right-style: dotted;border-right-color: #bfbfbf;}
.fyb_t1 {background-color: #ffffff;line-height: 45px;font-family: "微软雅黑";font-size: 24px;color: #c54449;text-align: center;}
.pm {width: 210px;padding-left: 35px;color: #f39800;}
.pm2 {width: 210px;padding-left: 35px;color: #9fa0a0;}
.pm3 {width: 210px;padding-left: 35px;color: #520814;}
.yhm {width: 270px;}
.tzje {width: 270px;}
.jlje {width: 223px;border-right-style: none;}