@charset "utf-8";
/* CSS Document */
/*找回密码（第一步）*/
.main_password_zh p span{color:#5e5e5e;font-weight:normal;line-height:40px;font-size:15px;font-weight:bold;text-align:right;width:120px;}
.main_password_zh p i img{line-height:40px;margin-left:5px;}/*201470108新增*/
.forms{border:1px solid #e5e5e5;border-radius:5px;height:35px;width:264px;margin-left:13px;}
.main_password_zh{padding:50px 180px  50px 135px;}/*201470108修改*/
.main_password_zh p{padding:10px 0;}
.main_password_zh a input{cursor:pointer;}
.main_password_zh ul .forms01{width:114px;height:33px;margin-left:14px;}
.main_password_zh li .yz_box{height:35px;width:80px;}/*201470107修改*/
.main_password_zh p .shuaxin{height:42px;padding-right:0;}
.main_password_zh p .shuaxin img{height:35px;width:35px;}
.main_password_zh .fet{font-size:12px;line-height:40px;}
.next_step_01{width:106px;height:38px;margin:40px 0 0 115px;font-size:16px;text-align:center;color:#ffffff;background-color:#f14648;border:none;border-radius:5px;}
.main_password_zh ul li{float:left;color:#5e5e5e;font-weight:normal;font-size:15px;font-weight:bold;margin-right:15px;}
.main_password_zh ul{margin-top:13px;}
.main_password_zh li .yan_zm{display:block;float:left;width:100px;text-align:right;line-height: 35px;}/*201470108修改*/
.main_password_zh li i{line-height:40px;margin-left:5px;margin-top: -10px;}/*201470108新增*/

/*找回密码（第二步）*/
.main_password_zh_02 ul li span{color:#5e5e5e;font-weight:normal;line-height:40px;margin-right:12px;font-size:15px;font-weight:bold;display:block;float:left;text-align:right;width:120px;}
.main_password_zh_02 ul li{line-height:43px;}
.main_password_zh_02 .yzm{height:35px;width:101px;background-color:#f14648;color:#ffffff;font-size:16px;border:none;margin-left:20px;}
.main_password_zh_02{padding:50px 120px  50px 240px;}
<!--.main_password_zh_02 p{padding:10px 0;width:30px;}-->
.main_password_zh_02 .sj_yzm_forms{height:35px;width:120px; float: left;}/*201470108修改*/
.main_password_zh_02 .tel_yzm{margin-top:16px;}
.next_step_02{width:106px;height:38px;margin:40px 0 0 122px;font-size:16px;text-align:center;color:#ffffff;background-color:#f14648;border:none;border-radius:5px;}